.item{
    border-radius: 30px;
    border: solid 1px green;
}

.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px !important;
}

.item img{
    margin-top: 20px;
    width: 50%;
    height: 150px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}
.info-producto button{
    border: none;
    background: none;
    background-color: green;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
}
.botonVerDetalle{
    width: 100%;
}